################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/QtHelpUtil/QtHelpUtil/x64/Debug
/TestUtil/.vs/TestUtil/v15
/TestUtil/TestUtil/x64/Debug
/TestUtil/x64/Debug
/QtHelpUtil/.vs/QtHelpUtil/v15
/QtHelpUtil/QtHelpUtil/x64/Release
/QtHelpUtil/x64/Release
/TestUtil/TestUtil/x64/Release
/TestUtil/x64/Release
